:root {
  /* Primary */
  /* active input border */
  --primary-Light-purple: hsl(249, 99%, 64%);
  --primary-Dark-purple:  hsl(278, 94%, 30%);
  /* input errors */
  --primary-Red: hsl(0, 100%, 66%);

  /* Neutral */
  --neutral-White: hsl(0, 0%, 100%);
  --neutral-Light-grayish-violet: hsl(270, 3%, 87%);
  --neutral-Dark-grayish-violet: hsl(279, 6%, 55%);
  --neutral-Very-dark-violet: hsl(278, 64%, 11%);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;   
}

body {
  font-family: 'Space Grotesk', sans-serif; 
}

p {
  font-size: 18px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.card-front {
  width: 80%;  
}

@media (max-width: 375px) {
  p {
    font-size: 14px;
  }

  .container {        
    flex-direction: column;      
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .container-left {
    max-width: 374px !important;
    height: 100vh;
    margin-bottom: 80px;
  }

  .logo {
   width: 70px !important;
  }

  .card-front {
    width: 270px !important;
    height: 150px !important;
    top: 120px !important;
    left: 40px !important;
    z-index: 1;
    background-size: 270px 150px;
  }

  .card-back {
    width: 270px !important;
    height: 150px !important;
    top: 20px !important;
    left: 80px !important;
    background-size: 270px 150px;
  }

  .card-front-number {
    font-size: 18px !important;      
  }

  .container-right {
    max-width: 374px !important;
  }
}

.container-left {  
  width: 30%;
  max-width: 500px;  
  min-width: 400px;
  background-image: url('../images/bg-main-desktop.png');    
  background-size: cover;
}

/* Card Module */
/* Card Front */
.card-front {  
  display: grid;
  position: relative;  
  width: 447px;
  height: 245px;
  background-image: url('../images/bg-card-front.png');
  top: 170px;
  left: 130px;  
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

.card-front-flex {
  display: flex;
  justify-content: space-between;
}

.card-front-data-card {
  margin: 0px 25px 0 25px;  
}

.card-front-number {
  font-size: 28px;  
  margin-bottom: 10px; 
  text-align: left; 
  color: white;
}

.card-front-name {
  color: white;
}

.card-front-data {
  color: white;
}

.logo {
  margin-left: 25px;  
  background-repeat: no-repeat;
}

/* Card Back */

.card-back {
  display: flex;
  position: absolute;
  width: 447px;
  height: 245px;
  background-image: url('../images/bg-card-back.png');
  top: 450px;
  left: 230px;
  border-radius: 10px;
  align-items: center;
  justify-content: right;
  text-align: center;  
}

.card-back-ccv {
  font-size: 14px;
  margin-right: 55px;
  color: white;  
}

/* End Card Module */

.container-right {    
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 1000px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  width: 350px;  
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;  
}

label {
  display: block;
  margin-top: 20px;
  color: var(--neutral-Very-dark-violet);
}

input {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: solid 1px var(--neutral-Light-grayish-violet);  
}

input:focus {
  border: 1px solid hsl(278, 94%, 30%);     
  outline: none;
}

.card-data-row {
  display: flex;
  justify-content: space-between;
}

.card-data { 
  display: block; 
}

input#month {
  width: 50px;
}

input#year {
  width: 50px;
}

input#ccv {  
  width: 150px;
}

::-webkit-input-placeholder {
  color: var(--neutral-Light-grayish-violet);
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--neutral-Light-grayish-violet);  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: var(--neutral-Light-grayish-violet);  
}

:-ms-input-placeholder {  
  color: var(--neutral-Light-grayish-violet);  
}

button {
  padding: 10px;
  background-color: var(--neutral-Very-dark-violet);
  border-radius: 5px;
  color: var(--neutral-White);
  margin: 20px 0 20px 0;
  cursor: pointer;
}

button:hover {
  background-color: rgba(33, 10, 46, 0.9);
}

.success {  
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-completed {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.success > h1 {
  margin-bottom: 15px;
  color: rgb(26, 8, 39);
}

.success > p {
  color: rgb(156, 152, 157)
}

.success > button {
  width: 100%;
  padding: 10px;
  background-color: var(--neutral-Very-dark-violet);
  border-radius: 5px;
  color: var(--neutral-White);
  margin: 40px 0 20px 0;
  cursor: pointer;
}

.success > button {
  background-color: rgba(33, 10, 46, 0.9); 
}